<header [ngClass]="{'private': user == true}">
  <div class="header" *ngIf="!user">
    <div class="btn" *ngIf="!user"><span class="add">+</span> Customize</div>
  </div>
  <div class="header user" *ngIf="user">
    <img src="../../../assets/images/work.jpg" alt="">
    <div class="button">
      <div class="btn btn-outline-secondary">Exit Preview</div>
    </div>
  </div>
  <div class="header-right">
    <div class="dropdown">
      <div class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-globe"></i>
        EN
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="#">Arabic</a></li>
        <li><a class="dropdown-item" routerLink="#">English</a></li>
        <li><a class="dropdown-item" routerLink="#">French</a></li>
      </ul>
    </div>
    <div class="program">Manage programs</div>
    <div class="notication">
      <div *ngIf="user">37</div>
      <i class="fas fa-bell"></i>
    </div>
    <div class="profile">
      <i class="fas fa-user-circle" *ngIf="!user"></i>
      <img src="../../../../assets/images/avatar.webp" alt="" *ngIf="user" class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" routerLink="/home">Profile Setting</a></li>
        <li><a class="dropdown-item" routerLink="/home">Customize</a></li>
        <li><a class="dropdown-item" routerLink="/home">Logout</a></li>
      </ul>
    </div>
  </div>
</header>