<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="title">
      <h2>Create Progam</h2>
      <div class="close">
        <!-- <img src="../../assets/images/close-line.svg" alt=""> -->
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="body">
      <div class="body-header">
        <div class="lang">
          English
        </div>
        <div class="transaction">
          <div class="add">Add Transaction</div>
          <div class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false"></div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" routerLink="/home">English</a></li>
          <li><a class="dropdown-item" routerLink="/home">French</a></li>
          <li><a class="dropdown-item" routerLink="/home">Arabic</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>