<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="button">
      <button class="btn btn-outline-secondary">Create a program</button>
    </div>
    <div class="body">
      <div class="body-content">
        <div class="image">
          <img src="../../../assets/images/work.jpg" alt="">
        </div>
        <div class="desc">
          <div class="header">
            <div class="title"><h3>The Microsoft Way</h3></div>
            <div class="btn-active">
              <span class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
        aria-expanded="false">Active</span>
              <!-- <i class="fas fa-chevron-down"></i> -->
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" routerLink="#">Program Active</a></li>
                <li><a class="dropdown-item" routerLink="#">Progam InDraff</a></li>
                <li><a class="dropdown-item" routerLink="#">Program Inactive</a></li>
              </ul>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus placeat officiis voluptatem nam neque eveniet ad totam error ut pariatur blanditiis odit dolor, id vitae impedit nostrum nemo? Debitis, facilis.</p>
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-outline-secondary">Manage content</button>
        <button class="btn btn-outline-secondary">Manage program</button>
      </div>
    </div>
  </div>
</div>