<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="button">
      <button class="btn btn-outline-secondary" routerLink="/preview/create-program">Create a program</button>
    </div>
    <div class="body" *ngIf="program">
      <div class="body-content">
        <div class="image">
          <img src="../../../assets/images/work.jpg" alt="">
        </div>
        <div class="desc">
          <div class="header">
            <div class="title"><h3>The Microsoft Way</h3></div>
            <div class="btn-active">
              <span class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
        aria-expanded="false">Active</span>
              <!-- <i class="fas fa-chevron-down"></i> -->
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" routerLink="#">Program Active</a></li>
                <li><a class="dropdown-item" routerLink="#">Progam InDraff</a></li>
                <li><a class="dropdown-item" routerLink="#">Program Inactive</a></li>
              </ul>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus placeat officiis voluptatem nam neque eveniet ad totam error ut pariatur blanditiis odit dolor, id vitae impedit nostrum nemo? Debitis, facilis.</p>
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-outline-secondary" routerLink="/auth/login-domain">Manage content</button>
        <button class="btn btn-outline-secondary">Manage program</button>
      </div>
    </div>
    <div *ngIf="!program">
      <div class="customize">
        <div class="environment">
          <div class="content" routerLink="/auth/login-domain">
            <div class="logo">
              <img src="../../assets/images/web-design-brush.svg" alt="">
            </div>
            <div class="desc">Customize your environment</div>
          </div>
        </div>
        <div class="program">
          <div class="content" routerLink="/preview/create-program">
            <div class="logo">
              <img src="../../assets/images/video.svg" alt="">
            </div>
            <div class="desc">Create a program</div>
          </div>
        </div>
      </div>
      <div class="my-programs">
        <div class="nothing">
          <div class="img">
            <img src="../../../assets/images/folder-error.svg" alt="">
          </div>
          <div class="desc">You have not created any program yet</div>
        </div>
      </div>
    </div>
  </div>
</div>