<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="title">
      <div class="close">
        <i class="fas fa-angle-left"></i>
      </div>
      <h2>Digital Safety & Data management</h2>
    </div>
    <div class="body">
      <div class="program-title">
        <div class="form-group">
          <label for="program"><span>Program Title</span> <span (click)="editTitle()">edit</span></label>
          <input type="text" name="program" id="proram" [disabled]="!showInputTitle" [value]="newProgram.title">
        </div>
      </div>

      <div class="program-description">
        <div class="form-group">
          <label for="description" class="program-description-title"><span>Program Description</span> <span
              (click)="editDescription()">edit</span></label>
          <textarea [disabled]="!showInputDescription" name="description" id="description" rows="3"
            [value]="newProgram.description">          </textarea>
        </div>
      </div>

      <div class="program-cover-image">
        <div class="image-title">Cover image</div>
        <div class="upload">
          <input type="file" name="poster" id="upload-favicon" ref="file" (change)="onFileChangeImage($event)">
          <div class="upload-image-info">
            <div class="upload-favicon img">
              <i class="fas fa-image" *ngIf="!image"></i>
              <span *ngIf="!image">Image Thumbnail</span>
              <img [src]="image" alt="" *ngIf="image">
            </div>
            <div class="info-image" *ngIf="image">
              <div class="img-name">{{imageName}}</div>
              <div class="img-desc">
                <p>Size: {{imagesize}} KB</p>
                <p>Format: {{imageFormat}}</p>
              </div>
            </div>
          </div>

          <label class="browser" for="upload-favicon">
            <div class="btn btn-outline-secondary">browse</div>
          </label>
        </div>
      </div>
      <div class="introduction-video">
        <div class="video-title">Introduction Video</div>
        <div class="upload">
          <input type="file" name="introvideo" id="upload-video" accept="video/mp4" ref="file"
            (change)="onFileChangeVideo($event)">
          <div class="upload-image-info">
            <div class="upload-favicon">
              <i class="fas fa-image" *ngIf="!video"></i>
              <span *ngIf="!video">Video Thumbnail</span>
              <video  controls *ngIf="video" width="110" height="100">
                  <source [src]="video" type="video/mp4">
                    <p>Your browser does not support HTML5 videos. Here is <a [href]="video">a link to download the video</a></p>
              </video>
            </div>
            <div class="info-image" *ngIf="video">
              <div class="img-name">{{videoName}}</div>
              <div class="img-desc">
                <p>Size: {{videoSize}} KB</p>
                <p>Format: {{videoFormat}}</p>
                <p>Length: 80 seconds</p>
              </div>
            </div>
          </div>
          <label class="browser" for="upload-video">
            <div class="btn btn-outline-secondary">browse</div>
          </label>
        </div>
      </div>
    </div>
    <div class="button">
      <button class="btn" (click)="updateProgram()">+Add Curriculum</button>
    </div>
  </div>
</div>