<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="welcome">
      <div class="close">
        <img src="../../assets/images/close-line.svg" alt="">
      </div>
      <div class="image-info">
        <img src="../../assets/images/video-call.svg" alt="">
      </div>
      <div class="content-info">
        <h3>Hello Temitope</h3>
        <div class="content-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nihil voluptas, eveniet iure quos nesciunt vel repellat deserunt facilis labore enim consequuntur</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsum sit illum sunt? Maiores, aut voluptatibus? Beatae, aliquam dolorum, odio repellat enim voluptatum similique aperiam autem possimus perspiciatis molestias exercitationem.</p>
          </div>
        <div class="btn btn-outline-secondary">Resend Email</div>
      </div>
    </div>
    <div class="customize">
      <div class="environment">
        <div class="content" routerLink="overview">
          <div class="logo">
            <img src="../../assets/images/web-design-brush.svg" alt="">
          </div>
          <div class="desc">Customize your environment</div>
        </div>
      </div>
      <div class="program">
        <div class="content" routerLink="overview">
          <div class="logo">
            <img src="../../assets/images/video.svg" alt="">
          </div>
          <div class="desc">Create a program</div>
        </div>
      </div>
    </div>
  </div>
</div>