<app-template></app-template>
<div class="page-container">
  <div class="container">
    <div class="button">
      <button class="btn btn-outline-secondary">Create a program</button>
    </div>
    <div>
      <div class="customize">
        <div class="environment">
          <div class="content" routerLink="/home/customization">
            <div class="logo">
              <img src="../../assets/images/web-design-brush.svg" alt="">
            </div>
            <div class="desc">Customize your environment</div>
          </div>
        </div>
        <div class="program">
          <div class="content" routerLink="/home/manage">
            <div class="logo">
              <img src="../../assets/images/video.svg" alt="">
            </div>
            <div class="desc">Create a program</div>
          </div>
        </div>
      </div>
      <div class="my-programs">
        <div class="nothing">
          <div class="img">
            <img src="../../../assets/images/folder-error.svg" alt="">
          </div>
          <div class="desc">You have not created any program yet</div>
        </div>
      </div>
    </div>
  </div>
</div>